<div class="modal fade" id="exampleModal2"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >

  <div class="modal-dialog" role="document">
    <div class="modal-content modal-responsive" >
      <div class="modal-body" style="display: block;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: -42px;top: -39px;">
          <span aria-hidden="true">Close</span>
        </button>

        <h2 class="modelheader" style="text-align:center;">Request a Tour</h2>
        <p class="message"></p>
       <%= render 'shared/tour_appointment_form' %>
        <p class="disclaimer">Please do not submit any sensitive medical information. If you are in need of medical attention, please see a physician or call 911 in case of a medical emergency.</p>
    </div>
    </div>
  </div>
</div>

<banner class="banners">
	<%= image_tag("dots.svg", class:"banner-dots dt", alt: "triangle made of blue dots") %>
	<%= image_tag("services_banner.png", class:"banner-img", alt: "Patient talking in a consult with doctor") %>
</banner>
<main class="content" id="content">

	<div class="section">
	    <div class="content-contain">
	        <div class="intro-container">

	            <h1 class="smallest">Our Services</h1>
	            <p class="subtitle">Conviva Care Centers represent a commitment to the highest standards of medical care–starting with primary care and extended through where each patient’s health needs take them.</p>
            <%= link_to 'Find Nearby Location', our_locations_path, class: 'styled-link', style: "text-decoration: none;"%>
<!--	            <a href="#" class="styled-link" style="text-decoration: none;">Find Nearby Location</a>-->
	            <button class="styled-link request-appointment" data-toggle="modal" data-target="#exampleModal2">Request a Tour</button>
	        </div>
	    </div>
	</div>
	<div class="section">

	    <div class="content-contain">

	        <div class="second-bg list-container">

	            <div class="container services-container">
	               <div class="item" data-href="#primary-care-physicians">

	                    <%= image_tag("icons-01.svg",alt: "Primary Care Physicians icon") %>
	                    <h3>Primary Care<br>Physicians</h3>
	                </div>

	                <div class="item" data-href="#wound-care">

	                    <%= image_tag("icons-12.svg",alt: "Wound Care icon") %>
	                    <h3>Wound<br>Care</h3>
	                </div>

	                <div class="item" data-href="#flu-pneumonia">

	                    <%= image_tag("icons-13.svg",alt: "Flu &amp; Pneumonia icon") %>
	                    <h3>Flu &amp; Pneumonia<br>Vaccines</h3>
	                </div>

	                <div class="item" data-href="#ekg">

	                    <%= image_tag("icons-14.svg",alt: "EKG icon") %>
	                    <h3>EKG<br></h3>
	                </div>

	                <div class="item" data-href="#physical-examinations">

	                    <%= image_tag("icons-15.svg",alt: "Physical Examinations icon") %>
	                    <h3>Physical<br>Examinations</h3>
	                </div>

	                <div class="item" data-href="#minor-procedures">

	                    <%= image_tag("icons-20.svg",alt: "Minor Procedures icon") %>
	                    <h3>Minor<br>Procedures</h3>
	                </div>

	                <div class="item" data-href="#suture-removal">

	                    <%= image_tag("icons-18.svg",alt: "Suture &amp; Suture Removal icon") %>
	                    <h3>Suture &amp;<br>Suture Removal</h3>
	                </div>

	                <div class="item" data-href="#diabetic-education">

	                    <%= image_tag("icons-16.svg",alt: "Diabetic Education icon") %>
	                    <h3>Diabetic<br>Education</h3>
	                </div>

	                <div class="item" data-href="#ear-lavage">

	                    <%= image_tag("icons-17.svg",alt: "Ear Lavage icon") %>
	                    <h3>Ear<br>Lavage</h3>
	                </div>

	                <div class="item" data-href="#lab-drawing-stations">

	                    <%= image_tag("icons-11.svg",alt: "Lab Drawing Stations icon") %>
	                    <h3>Lab Drawing<br>Stations</h3>
	                </div>

	                <div class="item" data-href="#nebulizer-treatments">

	                    <%= image_tag("icons-19.svg",alt: "Nebulizer Treatments icon") %>
	                    <h3>Nebulizer<br>Treatments</h3>
	                </div>

	                <div class="item" data-href="#transportation">

	                    <%= image_tag("icons-02.svg",alt: "Transportation icon") %>
	                    <h3>Transportation</h3>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="shadow"></div>
</main>
<script type="text/javascript">
    
$('a').css('text-decoration', 'none');
  $(document).ready(function(){
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      alert("Geolocation is not supported by this browser.");
    }
    function showPosition(position) {
      if (<%= session[:lat].blank?%> && <%= session[:long].blank?%> ) {
        $.ajax({
          type: "GET",
          url: "/set_location",
          data: {lat: position.coords.latitude, long: position.coords.longitude},
          success: function (data) {},
          error: function (e) {}
        });
      }
    }
  });

    $(document).ready(function(){
      jQuery.noConflict();
      $(".modal_date").datepicker({dateFormat:"D M dd, yy"});
    });

    function searchWithCurrentLocation(source){
      if (navigator.geolocation) {
        if(source === 'location') {
          navigator.geolocation.getCurrentPosition(searchCenterWithLocation);
        } else {
          navigator.geolocation.getCurrentPosition(searchPhysicianWithLocation);
        }
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }

    function searchCenterWithLocation(position) {
      var url = "<%= root_url %>" + 'our_locations/search?lat=' + position.coords.latitude + '&long=' + position.coords.longitude;
      window.location.replace(url);
    }

    function searchPhysicianWithLocation(position) {
      var url = "<%= root_url %>" + 'physicians/search?lat=' + position.coords.latitude + '&long=' + position.coords.longitude;
      window.location.replace(url);
    }
  </script>
