<div class="modal fade" id="exampleModal31" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 1000px;position: absolute;left: -58%;padding: 10%;">
      <div class="modal-body" style="display: block;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: -42px;top: -39px;">
          <span aria-hidden="true">Close</span>
        </button>

        <h2 style="text-align:center;">Meet a Physician</h2>
        <p class="message"></p>

        <div class="row">

          <input type="text" class="required-input" placeholder="* Your Name" name="name" aria-label="Your Name" style="width: 48%">
          <input type="email" class="required-input" placeholder="* Email" name="email" aria-label="Email" style="width: 48%">
          <input type="text" placeholder=" Phone" name="phone" aria-label="Phone" style="width: 48%">

          <div class="customize-select" data-visible="request_appointment,meet_physician,tour,more_information,leave_suggestion" id="modal_location_county" style="display: none;">

            <div class="select-wrapper">

              <span class="current-selection" data-default="Select Location">Select Location</span>
              <ul></ul>
              <input type="hidden" data-column="modal_location_county" name="modal_location_county" value="-1">

            </div>
          </div>
          <div class="customize-select" data-visible="request_appointment,meet_physician" id="modal_physician" style="display: none;">

            <div class="select-wrapper">

              <span class="current-selection" data-default="Any Physician">Any Physician</span>
              <ul></ul>

              <input type="hidden" data-column="modal_physician" name="modal_physician" value="-1">

            </div>
          </div>
          <input type="text" class="modal_date modal-show hasDatepicker" data-visible="request_appointment,tour,meet_physician" placeholder="Date" name="modal_date" aria-label="Date" id="dp1586371457020" style="display: block;width: 48%">
          <div class="customize-select modal-show" data-visible="request_appointment,tour,meet_physician" id="modal_date_time" style="width: 100% !important; display: block;margin-bottom: 30px">

            <div class="select-wrapper">

              <span class="current-selection">Any</span>
              <ul>
                <li class="option-selection" data-val="any">
                  <span>Any</span>
                </li>

                <li class="option-selection" data-val="morning">
                  <span>Morning</span>
                </li>

                <li class="option-selection" data-val="afternoon">
                  <span>Afternoon</span>
                </li>
              </ul>

              <input type="hidden" data-column="modal_date_time" name="modal_date_time" value="any">

            </div>
          </div>
          <textarea name="modal_notes" class="modal-show" data-visible="request_appointment,tour,meet_physician" rows="4" placeholder="Notes" style="display: block;"></textarea>

          <textarea name="modal_message" data-visible="leave_suggestion,more_information,other" class="modal-show" rows="4" placeholder="Message" style="display: none;"></textarea>

          <fieldset class="modal-show" data-visible="request_appointment,leave_suggestion,tour,meet_physician,more_information" style="display: block;">
            <legend><p>I would like to be contacted via</p></legend>
            <input type="radio" name="modal_contacted_via" value="email" id="contacted_via_email"><label for="contacted_via_email">Via
            Email</label>
            <input type="radio" name="modal_contacted_via" value="phone" id="contacted_via_phone"><label for="contacted_via_phone">Via
            Phone</label>
          </fieldset>

          <fieldset class="modal-show" data-visible="other" style="display: none;">
            <input type="checkbox" name="modal_contact_me" id="modal_contact_me">
            <legend><p>I would like somebody to contact me.</p></legend>
            <input type="radio" name="modal_contacted_via" value="email" id="contacted_via_email"><label for="contacted_via_email">Via
            Email</label>
            <input type="radio" name="modal_contacted_via" value="phone" id="contacted_via_phone"><label for="contacted_via_phone">Via
            Phone</label>
          </fieldset>

          <p class="disclaimer modal-show" data-visible="request_appointment,tour,meet_physician" id="action-requested" style="display: block;">Please
            note we cannot guarantee the date/time you have selected. We will call or email you with availabilities and
            schedule your <span>meet</span>.</p>

        </div>
        <input type="hidden" class="required-input" name="g_response" value="">
        <a href="" class="styled-link submit-appointment" style="width: 95%">Submit</a>

        <p class="disclaimer">Please do not submit any sensitive medical information. If you are in need of medical
          attention, please see a physician or call 911 in case of a medical emergency.</p>
      </div>
    </div>
  </div>
</div>



<main class="content" id="content"> 
  <div class="section search-form-section">
    <div class="content-contain" id="content-contain-results">
      <a href="#" class="styled-link back-to-results">Return to Physicians Search</a>
      <% if @doctors.present? %>
      <div class="second-bg list-container search-results doctor-results" id="search-results">
        <h1 class="smallest">Search Results for <span><%=params[:search]%></span></h1>
        <div class="container">
          <% @doctors.each do |doctor| %>
          <a class="item"  href="/physicians/<%= doctor.name %>">
            <p>
              <% if doctor.image.attached? %>
              <%= image_tag url_for(doctor.image), width: 300, height: 300, class: 'doctor-thumbnail', alt: 'doctor image'%>
              <% else %>
              <%= image_tag url_for(doctor.avatar), width: 300, height: 300, class: 'doctor-thumbnail', alt: 'doctor image'%>
              <% end %>
            </p>
            <h3><%=doctor.name%>,<%=doctor.physician_types.map{|d| d.name}.join(',')%></h3>
            <p class="address"><%=doctor.centers.map{|c|c.name}.join(',')%></p>
            <p class="address"><%=doctor.centers.first.address_city%>,<%= doctor.centers.first.state_zip_code%></p>
            <p class="details">View Physician <label class="dt">Details</label></p>
          </a>
          <% end %>
        </div>
      </div>
      <% else %>
      <div class="second-bg list-container search-results" id="search-results">
        <h1 class="smallest">Search Results for <span>Physicians</span></h1>
        <div class="container">
          <h3 class="text-center">There are no Physicians that match your search. Please try again.</h3>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row" >
    <button class="styled-link request-appointment" data-toggle="modal" data-target="#exampleModal31">Meet a Physician
  </button>
  </div>
</div>
<div class="shadow"></div>
</main>