<div class="modal fade" id="exampleModal031" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content modal-responsive" >
      <div class="modal-body" style="display: block;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: -42px;top: -39px;">
          <span aria-hidden="true">Close</span>
        </button>

        <h2 class="modelheader" style="text-align:center;">Meet a Physician</h2>
        <p class="message"></p>

        <%= form_for MeetPhysician.new   do |f| %>
  <div class="row">
    <%= f.text_field :your_name, class: 'required-input', placeholder: '* Your Name', 'aria-label': 'Your Name', style: 'width: 48%' %>
    <%= f.text_field :email, class: 'required-input', placeholder: '* Email', 'aria-label': 'Your Email', style: 'width: 48%' %>
    <%= f.text_field :phone, class: 'required-input', placeholder: '* Phone', 'aria-label': 'Your Email', style: 'width: 48%' %>
    
    <%= f.text_field :date, class: 'required-input modal_date', placeholder: '* Date', 'aria-label': 'Your Date', style: 'width: 48%', autocomplete: 'off' %>

    <div class="customize-select modal-show" data-visible="request_appointment,tour,meet_physician" id="modal_date_time" style="width: 98% !important; display: block;margin-bottom: 30px" >

      <div class="select-wrapper">

        <span class="current-selection">Any</span>
        <ul>
          <li class="option-selection" data-val="any">
            <span>Any</span>
          </li>

          <li class="option-selection" data-val="morning">
            <span>Morning</span>
          </li>

          <li class="option-selection" data-val="afternoon">
            <span>Afternoon</span>
          </li>
        </ul>
        <%= f.hidden_field :time, 'data-column':"modal_date_time",value: 'any' %>
      </div>
    </div>
    <%= f.text_area :notes, row: 4, class: 'modal-show', placeholder: 'Notes', 'aria-label': 'Your Notes', 'data-visible':"request_appointment,tour,meet_physician", style: "display: block;" %>

    <textarea name="modal_message" data-visible="leave_suggestion,more_information,other" class="modal-show" rows="4" placeholder="Message" style="display: none;"></textarea>

    <fieldset class="modal-show" data-visible="request_appointment,leave_suggestion,tour,meet_physician,more_information" style="display: block;">
      <legend style="margin-top: 10px;margin-bottom: 10px"><p>I would like to be contacted via</p></legend>
      <input type="radio" name="appointment[contacted_via]" value="email" id="contacted_via_email"><label for="contacted_via_email">Via Email</label>
      <input type="radio" name="appointment[contacted_via]" value="phone" id="contacted_via_phone"><label for="contacted_via_phone">Via Phone</label>
    </fieldset>

    <fieldset class="modal-show" data-visible="other" style="display: none;">
      <input type="checkbox" name="modal_contact_me" id="modal_contact_me">
      <legend style="margin-top: 10px;margin-bottom: 10px"><p>I would like somebody to contact me.</p></legend>
      <input type="radio" name="appointment[contacted_via]" value="email" id="contacted_via_email1"><label for="contacted_via_email">Via Email</label>
      <input type="radio" name="appointment[contacted_via]" value="phone" id="contacted_via_phone1"><label for="contacted_via_phone">Via Phone</label>
    </fieldset>

    <p class="disclaimer modal-show" data-visible="request_appointment,tour,meet_physician" id="action-requested" style="display: block;margin-top: 10px;margin-bottom: 10px">Please note we cannot guarantee the date/time you have selected. We will call or email you with availabilities and schedule your  <span>request</span>.</p>

  </div>
  <%= f.submit 'Submit', class: 'styled-link submit-appointment', style: "width: 95%;margin-bottom:10px",data:{turbolinks:"false"}%>
<% end %>


        <p class="disclaimer">Please do not submit any sensitive medical information. If you are in need of medical
          attention, please see a physician or call 911 in case of a medical emergency.</p>
      </div>
    </div>
  </div>
</div>
<main class="content" id="content">
<div class="section dark-header">
  <div class="content-contain">
    <% if @doctor.image.attached?%>
     <%= image_tag(url_for(@doctor.image), alt: "#{@doctor.name}") %>
    <%else%>
      <%= image_tag("#{@doctor.avatar}", alt: "#{@doctor.name}") %>
    <%end%>
    <div class="sub-section">
      <h1 class="smallest alt-color"><%=@doctor.name%>,<%=@doctor.physician_types.map{|p| p.name}.join(',')%></h1>
      <p class="center-city"><%=@doctor.doctor_categories.map{|cat| cat.name}.join()%></p>
      <div class="buttons">

        <button class="styled-link request-appointment" data-toggle="modal" data-target="#exampleModal031">Meet a Physician
      </button>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="content-contain">
    <div class="half second-bg">
      <h3>Languages</h3>
      <% @doctor.language.split(',').each do |l|%>
      <p><%=l%></p>
      <%end%>
    </div>
    <% @doctor.centers.each do |center|%>
    <div class="physician-center">
      <h3><%=center.name%></h3>
      <p><%=center.address_city%>, <%=center.state_zip_code%></p>
      <br>
      <br>

      <a href="#" style="text-align: center;text-decoration: none;"><%=center.primary_phone%></a>
      <a href="/centers/<%=@doctor.centers.first.name%>" class="styled-link" style="text-decoration: none;">Details </a>

    </div>
    <%end%>
  </div>
</div>
<div class="shadow"></div>
</main>

<script type="text/javascript">
    var body = document.body;
    body.classList.remove("physicians");
    body.classList.add("physician");
</script>
<script type="text/javascript">
    
$('a').css('text-decoration', 'none');
  $(document).ready(function(){
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      alert("Geolocation is not supported by this browser.");
    }
    function showPosition(position) {
      if (<%= session[:lat].blank?%> && <%= session[:long].blank?%> ) {
        $.ajax({
          type: "GET",
          url: "/set_location",
          data: {lat: position.coords.latitude, long: position.coords.longitude},
          success: function (data) {},
          error: function (e) {}
        });
      }
    }
  });

    $(document).ready(function(){
      jQuery.noConflict();
      $(".modal_date").datepicker({dateFormat:"D M dd, yy"});
    });

    function searchWithCurrentLocation(source){
      if (navigator.geolocation) {
        if(source === 'location') {
          navigator.geolocation.getCurrentPosition(searchCenterWithLocation);
        } else {
          navigator.geolocation.getCurrentPosition(searchPhysicianWithLocation);
        }
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }

    function searchCenterWithLocation(position) {
      var url = "<%= root_url %>" + 'our_locations/search?lat=' + position.coords.latitude + '&long=' + position.coords.longitude;
      window.location.replace(url);
    }

    function searchPhysicianWithLocation(position) {
      var url = "<%= root_url %>" + 'physicians/search?lat=' + position.coords.latitude + '&long=' + position.coords.longitude;
      window.location.replace(url);
    }
  </script>
