<div class="modal fade" id="exampleModal021" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content modal-responsive" >
      <div class="modal-body" style="display: block;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: -42px;top: -39px;">
          <span aria-hidden="true">Close</span>
        </button>

        <h2 class="modelheader" style="text-align:center;" >Request a Tour</h2>
        <p class="message"></p>
        <%= render 'shared/tour_appointment_form' %>
        <p class="disclaimer">Please do not submit any sensitive medical information. If you are in need of medical
          attention, please see a physician or call 911 in case of a medical emergency.</p>
      </div>
    </div>
  </div>
</div>
<complementary class="modal modal-general modal-events" id="exampleEventModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="content-contain">
        <div class="modal-body" id="eventmodelbody"style="display: block;">
            <span class="close-modal" data-dismiss="modal" aria-label="Close">Close</span>
            <h2 id="modal_contact_title">Silver Sneakers Yoga</h2>
            <h3 id="modal_contact_disc">Wed, May 01 2019 09:00 am - 10:00 am</h3>
            <p></p>

            <input type="hidden" id="event-id">

            <p>Share event with</p>

            <div class="full">

                <a href="/centers/<%=@center.name%>" class="share-google-calendar share-event styled-link selected no-wide" data-type="google"> Google</a>
                <a href="/centers/<%=@center.name%>" class="share-icalendar share-event styled-link no-wide" data-type="icalendar">iCalendar</a>
                <a href="/centers/<%=@center.name%>" class="share-outlook share-event styled-link no-wide" data-type="outlook">Outlook</a>
                <a href="/centers/<%=@center.name%>" style="display: none;" id="open-google" target="_blank" aria-label="Auxiliar link to save event in Google Calendar"></a>
            </div>

            <form method="post" action="share_icalendar" id="download-event-file">
                <input type="hidden" name="date_start" value="2019-05-01 09:00:00">
                <input type="hidden" name="date_end" value="2019-05-01 10:00:00">
                <input type="hidden" name="share_with" value="icalendar">
                <input type="hidden" name="description" value="">
                <input type="hidden" name="summary" value="Silver Sneakers Yoga">
                <input type="hidden" name="_token" value="9ff1b3bf9261b7b861574e415a9984b79b32c105222b707fbffc2c99d9c65123">
            </form>
        </div>
    </div>
</complementary>
<main class="content" id="content">
<div class="section dark-header">
    <div class="content-contain">
        <p class="center-city"><%= @center.city%>,<%= @center.state%></p>
        <h1 class="smallest alt-color"><%= @center.name%></h1>
    </div>
</div>
<div class="section">
    <div class="center-map">
        <iframe title="Iframe Map showing the location of the Conviva Care Center Flagler" style="border:0; height:200px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDAszf8K0NEL48ix1XU5N9ct5ij3gcGXZI&amp;q=<%=@center.latitude%>,<%=@center.longitude%>" allowfullscreen="" width="100%" height="200"></iframe>
    </div>
</div>
<div class="section">
    <div class="content-contain">
        <div class="sub-section">
            <div class="center-info">
                <%= image_tag("icons-06.svg", alt: "Address Icon") %>
                <br>
                <br>
                <h3 >Address</h3>
                <p class="bigger"><%= @center.address_1 %></p>
                <p class="bigger"><%=@center.city%>,<%=@center.state%> <%=@center.zip_code%></p>
                <a href="https://www.google.com/maps/dir//<%=@center.full_address%><%=@center.state_zip_code%>" class="styled-link" target="_blank" style="text-decoration: none;">Get Directions</a>
            </div>
            <div class="center-info">
                <%= image_tag("icons-08.svg", alt: "Center Hours Icon") %>
                <br>
                <br>
                <h3 >Center Hours</h3>
              <% @center.get_timing.each do |t| %>
                <p class="bigger"><%= t.stringify_keys.keys.first.split().map{|key| key.capitalize}.join(' ') %></p>
                <p class="bigger bottom"><%= Center.format_time(t[t.keys.first][0]) %> - <%= Center.format_time(t[t.keys.first][1]) %></p>
              <% end %>
                <button class="styled-link request-appointment" data-toggle="modal" data-target="#exampleModal021">Request a Tour</button>
                <a href="#events" class="styled-link" style="text-decoration: none;">Events Calendar</a>
            </div>
            <div class="center-info">
                <%= image_tag("icons-05.svg", alt: "Contact Icon") %>
                <br>
                <br>
                <h3 >Contact</h3>
                <p class="bigger"><%=@center.primary_phone%></p>
                <p class="bigger">Fax: <%=@center.fax%></p>
                <a href="tel:<%=@center.get_number @center.primary_phone%>" class="styled-link" style="text-decoration: none;">Call Us</a>
            </div>
        </div>
        <div class="sub-section">
            <div class="half">
                <h3>Our Physicians</h3>
                    <ul class="list-styled doctor-list">
                      <% @center.doctors.each do |doctor| %>
                        <li>

                            <a aria-label="Visit Jocelyn Prettell Bio Page" href="/physicians/<%=doctor.name%>" style="text-decoration: none;">

                            <img src="<%=doctor.avatar%>" alt="Jocelyn Prettell Thumbnail" class="doctor-thumbnail">
                            <span class="overlay">VIEW<br>BIO</span><%=doctor.name%>,<%= doctor.physician_types.map{|p| p.name}.join(',')%></a>
                        </li>
                      <%end%>
                    </ul>
                    <div class="second-bg">
                        <h3>In House Services</h3>
                            <ul class="list-styled">
                                <% @center.services.each do |service|%>
                                  <li> <%=service.name%></li>
                                <%end%>

                            </ul>
                        </div>
                        <div class="second-bg">
                            <h3>Specialties</h3>
                            <ul class="list-styled">
                               <% @center.specialities.each do |speciality|%>
                                  <li><%=speciality.name%></li>
                                <%end%>
                            </ul>
                        </div>
                    </div>
                    <div class="half">
                        <h3>Administrator</h3>
                        <p><%=@center.center_admin%></p>
                        <div class="second-bg">
                            <h3> Insurances Accepted</h3>
                            <% unless @center.location_description.nil?%> 
                              <div style="color:#0c495b;font-size:21px;line-height:30px;"><%=@center.location_description%></div>
                            <%else%>
                              <div style="color:#0c495b;font-size:21px;line-height:30px;">We accept most Medicare Advantage plans, for more information please call <a href="tel:18332208654" style="text-decoration: none;">1-833-220-8654</a></div>
                            <%end%>
                        </div>
                    </div>
                    <div class="half gallery-slider">
                        <h3>Gallery</h3>
                        <div class="slider-for" id="gallery-slider" style="height: 400px">
                            <div>
                                <a  href="#" class="fa fa-fullscreen dt" ></a>
                                <%= image_tag("one.jpg",alt: "Lab Drawing Stations icon",style:"width:300px;height:400px") %>
                            </div>
                            <div>
                                <a  href="#" class="fa fa-fullscreen dt" ></a>
                                <%= image_tag("two.jpg",alt: "Lab Drawing Stations icon",style:"width:300px;height:400px")%>
                            </div>
                        </div>
                        <div class="slider-nav" id="sliderNav" style="height: 80px">
                            <div>
                                <%= image_tag("two2.jpg",alt: "Lab Drawing Stations icon",style:"width:80px;height:80px") %>
                            </div>
                            <div>
                                <%= image_tag("one1.jpg",alt: "Lab Drawing Stations icon",style:"width:80px;height:80px") %>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="events">

            <div class="content-contain">
                <div class="calendar stop-parent-movement" id="events-calendar"></div>
            </div>
        </div>
        <div class="shadow"></div>
    </main>

<script type="text/javascript">
    var body = document.body;
    body.classList.remove("our_locations");
    body.classList.add("center");

    // console.log('<%=@center.center_events%>');

    function eventCalendar(events) {
      return jQuery(function($) {
        return $('#events-calendar').fullCalendar({
          header:false,
          events:events,
          header:{
            left:   'prev',
            center: 'title',
            right:  'next'
          },
          eventClick: function(info) {
            jQuery(async function($) {
              $('#modal_contact_title').text(info.title);
              $('#event-id').val(info.id);
              $('#modal_contact_disc').text(
                info.start.utc().format('ddd, MMMM DD YYYY ') + moment(info.start_time).utc().format("LT") + " - " + moment(info.end_time).utc().format('LT')
              );
            });
            var model=document.getElementById("exampleEventModal");
            var modelbody=document.getElementById("eventmodelbody");
            modelbody.style.display='block';
            model.classList.add("on");
          }
        });
      });
    };
    function clearCalendar() {
      $('#events-calendar').fullCalendar('delete');
      $('#events-calendar').html('');
    };


    $( document ).ready(async function() {
      var events = []
      await $.ajax({
        type: "get",
        url: "/centers/events?center_id=" + <%= @center.id %>,
        success: function (data) {
          events = data.events
        },
        error: function (e) {}
      });
      eventCalendar(events);
      $('.fc-scroller').css({'overflow':'visible'});
      console.log( "ready!" );
    });

    $(window).on('load', function() {$('#sliderNav').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        itemWidth: 210,
        itemMargin: 5,
        asNavFor: '#gallery-slider'
    })});


    $(window).on('load', function() {$('#gallery-slider').flexslider(
    {
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        sync: "#sliderNav"
    })});
    
</script>
<script type="text/javascript">
    
$('a').css('text-decoration', 'none');
  $(document).ready(function(){
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      alert("Geolocation is not supported by this browser.");
    }
    function showPosition(position) {
      if (<%= session[:lat].blank?%> && <%= session[:long].blank?%> ) {
        $.ajax({
          type: "GET",
          url: "/set_location",
          data: {lat: position.coords.latitude, long: position.coords.longitude},
          success: function (data) {},
          error: function (e) {}
        });
      }
    }
  });

    $(document).ready(function(){
      jQuery.noConflict();
      $(".modal_date").datepicker({dateFormat:"D M dd, yy"});
    });

    function searchWithCurrentLocation(source){
      if (navigator.geolocation) {
        if(source === 'location') {
          navigator.geolocation.getCurrentPosition(searchCenterWithLocation);
        } else {
          navigator.geolocation.getCurrentPosition(searchPhysicianWithLocation);
        }
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }

    function searchCenterWithLocation(position) {
      var url = "<%= root_url %>" + 'our_locations/search?lat=' + position.coords.latitude + '&long=' + position.coords.longitude;
      window.location.replace(url);
    }

    function searchPhysicianWithLocation(position) {
      var url = "<%= root_url %>" + 'physicians/search?lat=' + position.coords.latitude + '&long=' + position.coords.longitude;
      window.location.replace(url);
    }
    $( ".choose-location" ).click(function() {
  $('.modal-body').css({'display':'block'});
});
  </script>

