
<div class="modal fade" id="exampleModal21" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 1000px;position: absolute;left: -58%;padding: 10%;">
      <div class="modal-body" style="display: block;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: -42px;top: -39px;">
          <span aria-hidden="true">Close</span>
        </button>

        <h2 class="modelheader" style="text-align:center;">Request a Tour</h2>
        <p class="message"></p>
        <%= render 'shared/request_appointment_form' %>
        <p class="disclaimer">Please do not submit any sensitive medical information. If you are in need of medical
          attention, please see a physician or call 911 in case of a medical emergency.</p>
      </div>
    </div>
  </div>
</div>
<main class="content" >
<div class="section search-form-section">
  <div class="content-contain" id="content-contain-results">

     <a href="/our_locations" class="styled-link back-to-results" style="text-decoration: none;">Return to Locations Search</a>

     <% if @centers.present? %>
     <div class="second-bg list-container search-results" id="search-results">
        <<% if @location.present?%>
        <h1 class="smallest">Search Results for <span><%=@location.first.address%></span></h1>
        <% else%>
        <h1 class="smallest">Search Results for <span><%=params["search"]%></span></h1>
       
        <%end%>
        <div class="container">
          <h2 class="smallest no-conviva no-top"></h2>
          <% @centers.each do |center| %>
          <a class="item small-item" aria-label="View Location <label class='dt'>Details</label> for <%=center.name%>" href="/centers/<%=center.name%>" style="text-decoration: none;">
            <h3><%= center.name %></h3>
            <p class="distance">
              <% if session[:lat].present? and session[:long].present? %>
                <%= center.distance_from([session[:lat], session[:long]]).round(2) %> m
              <% else %>
              please allow location to get the difference and refresh the page
              <% end %>
            </p>
            <p class="address"><%= center.full_address %>,<%= center.state_zip_code%> </p>

            <p class="details">View Location <label class="dt">Details</label></p>
          </a>
          <% end %>
        </div>
      </div>
      <% else %>
      <div class="second-bg list-container search-results" id="search-results">
        <% if @location.present?%>
        <h1 class="smallest">Search Results for <span><%=@location.first.address%></span></h1>
        <% else %>
        <h1 class="smallest">Search Results for <span><%=params["search"]%></span></h1>
        
        <%end%>
        <div class="container">
          <h3 class="text-center">There are no locations that match your search. Please try again.</h3>
        </div>
      </div>
      <% end %>

      <div class="row" >
        <button class="styled-link request-appointment" data-toggle="modal" data-target="#exampleModal21">Request a Tour</button>
      </div>
    </div>
</div>
<div class="shadow"></div>
</main>
