
<div class="modal fade" id="exampleModal2"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >

  <div class="modal-dialog" role="document">
    <div class="modal-content modal-responsive" >
      <div class="modal-body" style="display: block;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: -42px;top: -39px;">
          <span aria-hidden="true">Close</span>
        </button>

        <h2 class="modelheader" style="text-align:center;">Request a Tour</h2>
        <p class="message"></p>
        <%= render 'shared/meet_request_form.html' %>

        <p class="disclaimer">Please do not submit any sensitive medical information. If you are in need of medical attention, please see a physician or call 911 in case of a medical emergency.</p>
    </div>
    </div>
  </div>
</div>
<banner class="banners">
	<%= image_tag("dots.svg", class:"banner-img", alt: "triangle made of blue dots") %>
</banner>
<main class="content" id="content">
	<div class="section">
		<div class="content-contain">
			<div class="sub-section">
				<h1 class="smallest">About Us</h1>
			</div>
			<div class="sub-section second-bg">
            	<h2 class="smallest">Our Approach</h2>
            	<p class="subtitle">We are reinventing excellence in healthcare with a simple idea - that meaningful patient relationships lead to better health outcomes.</p>
            	<p>Our shared goal is for our patients to reach their fullest potential while always feeling respected, understood, and cared for.</p>
        	</div>
    	</div>
	</div>

	<div class="section">
    	<div class="content-contain">

        	<div class="sub-section">
        		<%= image_tag("about_new.png", class:"dt", alt: "Doctor showing results on a tablet to a patient") %>

        	</div>
        	<div class="sub-section">
            	<p class="subtitle">We have evaluated the changing needs of our patients throughout the aging process.</p>
            	<p class="subtitle">As a result,&nbsp;we have rethought the way our patients should experience healthcare as we move into the future.</p>
       	 	</div>
    	</div>
	</div>

	<div class="section">

    	<div class="content-contain">

        	<div class="sub-section">

            	<p>Our success is measured with our patients' clinical outcomes and long term health. We best accomplish this success by forming a strong relationship with each patient as an individual, so we understand them along with their individualized health needs.</p>

        	</div>

        	<div class="sub-section">

            	<p>This relationship and understanding between patient and physician enables our approach to focus on lifestyle and prevention and allows our patients to maximize the time they spend focusing on their health, in and out of a clinical setting, to help them live their lives fully.</p>

        	</div>

<!--        	<a href="#" class="styled-link" style="text-decoration: none;">View our services</a>-->
        <%= link_to 'View our services', services_path, class: 'styled-link', style: "text-decoration: none;" %>

        	<button class="styled-link request-appointment" data-toggle="modal" data-target="#exampleModal2">Request a Tour</button>

    	</div>
	</div>

	<div class="section dark-bg">

    	<div class="content-contain">

    		<%= image_tag("doctor_facing_front.png", class:"physician-img mb", alt: "Physician with stethescope facing the screen") %>

        	<div class="sub-section dt">
        		<%= image_tag("dots.svg", class:"banner-img-1", alt: "triangle made of blue dots") %>
        		<%= image_tag("doctor_facing_front.png", class:"physician-img", alt: "Physician with stethescope facing the screen") %>
        	</div>

        	<div class="sub-section">

            	<h2>Driven by<br class="dt">Conviva Physician Group</h2>

            	<p>Conviva Care Centers are proudly served by the distinguished Physicians of Conviva Physician Group that was formed to ensure best practices and highest clinical standards are upheld for their patients in our Conviva Care Centers.</p>

            	<a href="https://www.convivaphysicians.com/" target="_blank" class="styled-link" style="text-decoration: none;">Visit Site</a>

       	 	</div>

    	</div>
	</div>
	<div class="shadow"></div>
</main>
<script type="text/javascript">
    
$('a').css('text-decoration', 'none');
  $(document).ready(function(){
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      alert("Geolocation is not supported by this browser.");
    }
    function showPosition(position) {
      if (<%= session[:lat].blank?%> && <%= session[:long].blank?%> ) {
        $.ajax({
          type: "GET",
          url: "/set_location",
          data: {lat: position.coords.latitude, long: position.coords.longitude},
          success: function (data) {},
          error: function (e) {}
        });
      }
    }
  });

    $(document).ready(function(){
      jQuery.noConflict();
      $(".modal_date").datepicker({dateFormat:"D M dd, yy"});
    });

    function searchWithCurrentLocation(source){
      if (navigator.geolocation) {
        if(source === 'location') {
          navigator.geolocation.getCurrentPosition(searchCenterWithLocation);
        } else {
          navigator.geolocation.getCurrentPosition(searchPhysicianWithLocation);
        }
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }

    function searchCenterWithLocation(position) {
      var url = "<%= root_url %>" + 'our_locations/search?lat=' + position.coords.latitude + '&long=' + position.coords.longitude;
      window.location.replace(url);
    }

    function searchPhysicianWithLocation(position) {
      var url = "<%= root_url %>" + 'physicians/search?lat=' + position.coords.latitude + '&long=' + position.coords.longitude;
      window.location.replace(url);
    }
  </script>
