<div class="modal fade" id="exampleModal3"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >

  <div class="modal-dialog" role="document">
    <div class="modal-content modal-responsive" >
      <div class="modal-body" style="display: block;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: -42px;top: -39px;">
          <span aria-hidden="true">Close</span>
        </button>

        <h2 class="modelheader" style="text-align:center;">Meet a Physician</h2>
        <p class="message"></p>
        <%= render 'shared/request_appointment_form' %>
        <p class="disclaimer">Please do not submit any sensitive medical information. If you are in need of medical attention, please see a physician or call 911 in case of a medical emergency.</p>
    </div>
    </div>
  </div>
</div>
<banner class="banners">
	<%= image_tag("dots.svg", class:"banner-dots", alt: "triangle made of blue dots") %>
</banner>
<main class="content" id="content">
	<div class="section dark-header">
    	<div class="content-contain">
        	<h1 class="smallest alt-color">Contact Us</h1>
        	<a href="#" class="styled-link no-border alt-color mb" style="text-decoration: none;">1-833-220-8654</a>
    	</div>
	</div>

	<div class="section">

    	<div class="content-contain">

       		<div class="half">

            	<h2 class="smallest">We'd Love to Hear from You</h2>
            	<p class="bigger">Please fill out the form below to let us know how we may assist you. If you would like more information, please give us a call and we’ll be happy to help.</p>
            <%= render 'shared/contact_us_form' %>
        	</div>

        	<div class="half">

            	<div class="sub-section">

                	<div class="row">
                		<%= image_tag("icons-05.svg", alt: "Contact Icon") %>
                    	<h3 class="alt-h3">1-833-220-8654</h3>
                	</div>
                	<a href="tel:18332208654" class="styled-link" style="text-decoration: none;">Call Us</a>
            	</div>

            	<div class="sub-section second-bg">
            		<%= image_tag("icons-06.svg", alt: "Address Icon") %>
                	<h3 class="alt-h3">Find Your Location</h3>
                	<p>If you are trying to contact your location to make an appointment or for any other questions, please locate your center:</p>
<!--                	<a href="#" class="styled-link" style="text-decoration: none;">View Locations</a>-->
                <%= link_to 'View Locations', our_locations_path, class: 'styled-link', style: "text-decoration: none;"%>
                	 <button class="styled-link request-appointment" data-toggle="modal" data-target="#exampleModal3">Meet a Physician</button>
            	</div>
        	</div>
    	</div>
	</div>
	<div class="shadow"></div>
</main>
