<html>
  <head>
    <title>VsbViva</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fortawesome.com/3d1ec8f9.js"></script>
    
  </head>

  <body class='<%= controller_name %>'  >
    
    <%= render 'layouts/header' %>
    <% flash.each do |key, value| %>

      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
       
  </body>
<script>
  $('a').css('text-decoration', 'none');
  $(document).ready(function(){
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      alert("Geolocation is not supported by this browser.");
    }
    function showPosition(position) {
      if (<%= session[:lat].blank?%> && <%= session[:long].blank?%> ) {
        $.ajax({
          type: "GET",
          url: "/set_location",
          data: {lat: position.coords.latitude, long: position.coords.longitude},
          success: function (data) {},
          error: function (e) {}
        });
      }
    }
  });
</script>
  <script type="text/javascript">
    $(document).ready(function(){
      jQuery.noConflict();
      $(".modal_date").datepicker({dateFormat:"D M dd, yy"});
    });

    function searchWithCurrentLocation(source){
      if (navigator.geolocation) {
        if(source === 'location') {
          navigator.geolocation.getCurrentPosition(searchCenterWithLocation);
        } else {
          navigator.geolocation.getCurrentPosition(searchPhysicianWithLocation);
        }
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }

    function searchCenterWithLocation(position) {
      var url = "<%= root_url %>" + 'our_locations/search?lat=' + position.coords.latitude + '&long=' + position.coords.longitude;
      window.location.replace(url);
    }

    function searchPhysicianWithLocation(position) {
      var url = "<%= root_url %>" + 'physicians/search?lat=' + position.coords.latitude + '&long=' + position.coords.longitude;
      window.location.replace(url);
    }
  </script>
</html>
